@font-face {
    font-family: sch24perm_font;
    src: url(Bahnschrift.ttf);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('/src/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: sch24perm_font, sans-serif;
    font-size: 1rem;
}

header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

main {
    height: 76vh;
    display: flex;
}

footer {
    height: 9vh;
    background: rgb(153, 0, 0);
    font-size: 7.5vh;
}

/* MEDIA START */
.media_block {
    width: 52vw;
    padding: 5vh 15vh;
}

.media {
    width: 55vw;
    height: 66vh;
    border-radius: 2vh;
    object-fit: contain;
}

/* MEDIA END */

/* BRAND START */
.brand {
    display: grid;
    grid-template-columns: min-content 1fr;
    color: inherit;
    line-height: 1;
    text-decoration: none;
    column-gap: 1vh;
    height: inherit;
    flex-grow: 1;
    font-size: 3.3vh;
    padding: 1vh
}

.brand__logo {
    height: inherit;
    grid-row: span 2;
}

.brand__title {
    margin: 0;
    align-self: flex-end;
}

.brand__tagline {
    margin: 0;
    font-weight: bold;
    align-self: flex-start;
}

/* BRAND END */

/* CLOCK START */
.clock {
    width: 29vw;
    padding: 0 1vw;
    white-space: nowrap;
    text-align: center;
    font-size: 6vh;
    color: black;
}

/* CLOCK END */

/* WEATHER START */
#weather {
    display: flex;
    flex-direction: column;
    width: 11vw;
    padding: 0 1vw;
    text-align: center;
    font-size: 6vh;
    color: black;
    align-items: center;
}

#weather__icon {
    width: 11vh;
    margin: -1vh -2vh -2vh;
}

/* WEATHER END */

.telegram_block {
    width: auto;
    padding-top: 5vh;
    height: 100%;
}